.header {
    padding: 1.5rem 2.5rem;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
    padding: 0.1rem;
    background-color: #ffffff;
}
  
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 auto;
}
  
.nav-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.brand-logo {
    height: 3.5rem;
    width: auto;
    object-fit: contain;
}
.brand-name {
    font-size: 20px;
    font-weight: 550;
    letter-spacing: 0.5px;
    color: hsl(0, 0%, 20%);
}
.nav-right {
    display: flex;
    gap: 1.0rem;
    
}
  
.header-link {
    text-decoration: none;
    color: hsl(0, 0%, 20%);
    font-size: 1rem;
    font-weight: 550;
    letter-spacing: 0.5px;
    padding: 0.5rem 0.75rem;
    
}
.header-link:hover {
    color: hsl(0, 0%, 30%);
    cursor: pointer;
}
.user-link{
    text-decoration: none;
}

@media (max-width: 768px){
    .header {
        padding: 1rem 1.0rem;
    }
    
    .nav {
        flex-wrap: nowrap;
        gap: 0.0rem;
    }

    .nav-right {
        justify-content: flex-end;
        gap: 0.5rem;
    }
        

}


@media (max-width: 480px) {
    .nav {
        position: relative;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .nav-left {
        flex-direction: column;
        align-items:flex-start;
    }

    .brand-name {
        margin-top: 0.20rem;
    }

    .nav-right {
        position: absolute;
        top: 1.20rem;
        right: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 0.1rem;
    }

    .header-link{
        font-size: 1.15rem;
    }

}